<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Node js and Mongo</h1>
    <p class="lea">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur enim eaque nesciunt inventore assumenda laudantium libero possimus eveniet optio nisi neque odio, error provident eos iusto voluptatum tenetur minima incidunt.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste facilis laborum sit accusantium amet illo explicabo nobis vel possimus aspernatur?</p>
    <a href="https://www.google.com.mx" class="btn btn-primary">Google</a>
</div>